doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='logo.ico', rel='shortcut icon', type='image/x-icon')
    title Detalles del pedidos
    // Bootstrap Core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='css/bootstrap-theme.min.css')
    // DataTables CSS
    link(href='vendor/datatables-plugins/dataTables.bootstrap.css', rel='stylesheet')
    // DataTables Responsive CSS
    link(href='vendor/datatables-responsive/dataTables.responsive.css', rel='stylesheet')
    // MetisMenu CSS
    link(href='vendor/metisMenu/metisMenu.min.css', rel='stylesheet')
    // Custom CSS
    link(href='dist/css/sb-admin-2.css', rel='stylesheet')
    // Morris Charts CSS
    link(href='vendor/morrisjs/morris.css', rel='stylesheet')
    // Custom Fonts
    link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='css/dragula.min.css')
    link(rel='stylesheet', href='css/bootstrap-datepicker.min.css')
    link(rel='stylesheet', href='css/bootstrap-datepicker3.min.css')
    link(rel='stylesheet', href='css/bootstrap-datepicker3.standalone.css')
    link(rel='stylesheet', href='css/bootstrap-select.min.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    #wrapper
      // Navigation
      nav.navbar.navbar-default.navbar-static-top.fixed(role='navigation', style='margin-bottom: 0')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          img#logo.navbar-brand(src='logo.png')
        // /.navbar-header
        ul.nav.navbar-top-links.navbar-right.no-padding
          li#campana.dropdown.no-padding(onclick='mostrarNotificaciones()')
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              // <i class="fa fa-bell fa-fw"></i>
              i.fa.fa-bell-o(style='font-size: 25px;', aria-hidden='true', data-toggle='tooltip', data-placement='bottom', title='Notificaciones')
              span#spanNotificaciones.badge(style='background-color: red; display: none;')
              i.fa.fa-caret-down
            ul#contenedorNotificaciones.dropdown-menu.dropdown-alerts
              // Notificaciones aquí
            // <div id="spanNotificaciones" style="display:none; background-color:red; color:white; border-radius:5px; padding:10%;  font-size:10px; font-family: intelo-bold; transform:translate(10px, -22px);"></div>
          li
            img.img-circle(src='http://lorempixel.com/40/40/', alt='...')
          li.dropdown.no-padding
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              i.fa.fa-caret-down
            ul.dropdown-menu.dropdown-alerts
              li.divider
              li
                a(onclick='logout()')
                  span.glyphicon.glyphicon-off
                  |  Cerrar sesión
            // /.dropdown-alerts
          // /.dropdown
        // /.navbar-top-links
      .barside
        img#logo.navbar-brand(src='logo.png')
        ul(style='margin-top:50px; list-style:none; font-size:50px; color:white; padding:28px;')
          li
            a(style='color:white; text-decoration: none;', href='panel.html', data-toggle='collapse', data-target='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
              span.material-icons.no-padding(style='font-size:50px;') dvr
              p(style='white; font-size:11px; width:200px; margin-left:-14px; margin-top:-15px;') Volver al panel
      #page-wrapper
        .row
          .col-lg-12.col-md-12.col-sm-12
            br
            // <div class="loader"></div>
            #panel.panel.panel-primary
              .panel-heading
                span#numPedido.panel-title(style='font-size: 30px; font-style: italic;')
                span#fechaPedido.pull-right(style='font-size: 20px;')
                  // Recibido Martes 13 de abril
              .panel-body
                label#tienda(for='') Tienda: 
                p.lead
                  small Productos de este pedido:
                .form-group
                  label.lead
                    small Cantidad: 
                    span#cantidad.badge
                  button.btn.btn-success.pull-right(type='button', onclick='abrirModal()')
                    | Agregar producto 
                    i.fa.fa-plus(aria-hidden='true')
              .table-responsive
                table#productos.table.table-condensed.table-bordered.table-striped.table-hover
                  // <caption>Productos de este pedido:</caption>
                  thead#theadProductos
                    tr
                      th.text-center Clave
                      th.text-center Descripción
                      th.text-center Pedido Pz
                      th.text-center Degustación
                      th.text-center Cambio físico
                      th.text-center Total Pz
                      th.text-center Total Kg
                      th.text-center Precio unit.
                      th.text-center Unidad
                      th.text-center Editar
                      th.text-center Eliminar
                  tbody#tbodyProductos
            button#Imprimir.btn.btn-lg.btn-danger(onclick='generarPDF();')
              i.fa.fa-print(aria-hidden='true')
              |  Imprimir
          // /.col-lg-12
        // /.row
      // /#page-wrapper
    // /#wrapper
    #modalAgregarProducto.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalAgregarProducto')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Agregar producto
          .modal-body
            form
              .form-group.row
                .col-md-12
                  label(for='productos') Elige un producto:
                  select#listaProductos.form-control(name='productos')
                    option#SeleccionarProducto(value='Seleccionar') Seleccionar
                  span#helpblockProductos.help-block(style='display: none;') Campo obligatorio
              .form-group.row
                .hidden.col-md-4
                  label(for='nombre') Nombre:
                  input#nombre.form-control(type='text', name='nombre', placeholder='Nombre')
                .col-md-4
                  label(for='claveConsorcio') Clave consorcio:
                  input#claveConsorcio.form-control(type='text', name='claveConsorcio', placeholder='Clave consorcio', readonly='')
                .col-md-4
                  label(for='pedidoPz') Pedido Pz:
                  input#pedidoPz.form-control(type='text', name='pedidoPz', placeholder='Pedido Pz')
                  span#helpblockPedidoPz.help-block(style='display: none;') Campo obligatorio
                .col-md-4
                  label(for='degusPz') Degustación Pz:
                  input#degusPz.form-control(type='text', name='degusPz', placeholder='Degustación Pz')
                  span#helpblockDegusPz.help-block(style='display: none;') Campo obligatorio
              .form-group.row
                .col-md-4
                  label(for='cambioFisico') Cambio físico:
                  input#cambioFisico.form-control(type='text', name='cambioFisico', placeholder='Cambio físico')
                  span#helpblockCambioFisico.help-block(style='display: none;') Campo obligatorio
                .hidden.col-md-4
                  label(for='empaque') Empaque:
                  input#empaque.form-control(type='text', name='empaque')
                .col-md-4
                  label(for='precioUnitario') Precio unitario:
                  input#precioUnitario.form-control(type='text', name='precioUnitario', placeholder='Precio unitario', readonly='')
                .col-md-4
                  label(for='unidad') Unidad:
                  input#unidad.form-control(type='text', name='unidad', placeholder='Unidad', readonly='')
              .form-group.row
                .col-md-4
                  label(for='totalPz') Total Pz
                  input#totalPz.form-control(readonly='', type='text', name='totalPz')
                .col-md-4
                  label(for='totalKg') Total Kg
                  input#totalKg.form-control(readonly='', type='text', name='totalKg')
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
            button.btn.btn-primary(onclick='agregarProducto()', type='button') Guardar
    #modalEditarProducto.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalAgregarProducto')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Editar producto
          .modal-body
            form
              .form-group.row
                .col-md-12.col-lg-12
                  label(for='nombreEditar') Nombre:
                  input#nombreEditar.form-control(type='text', name='nombreEditar', placeholder='Nombre', readonly='')
              .form-group.row
                .col-md-3
                  label(for='claveConsorcioEditar') Clave consorcio:
                  input#claveConsorcioEditar.form-control(readonly='', type='text', name='claveConsorcioEditar', placeholder='Clave consorcio')
                .col-md-3
                  label(for='pedidoPzEditar') Pedido Pz:
                  input#pedidoPzEditar.form-control(type='number', name='pedidoPzEditar', placeholder='Pedido Pz')
                  span#helpblockPedidoPzEditar.help-block(style='display: none;') Campo obligatorio
                .col-md-3
                  label(for='degusPzEditar') Degustación Pz:
                  input#degusPzEditar.form-control(type='number', name='degusPzEditar', placeholder='Degustación Pz')
                  span#helpblockDegusPzEditar.help-block(style='display: none;') Campo obligatorio
                .col-md-3
                  label(for='cambioFisicoEditar') Cambio físico:
                  input#cambioFisicoEditar.form-control(type='number', name='cambioFisicoEditar', placeholder='Cambio físico')
                  span#helpblockCambioFisicoEditar.help-block(style='display: none;') Campo obligatorio
                .hidden.col-md-3
                  label(for='empaqueEditar') Empaque:
                  input#empaqueEditar.form-control(type='text', name='empaqueEditar', readonly='')
              .form-group.row
                .col-md-3
                  label(for='precioUnitarioEditar') Precio unitario:
                  input#precioUnitarioEditar.form-control(type='text', name='precioUnitarioEditar', placeholder='Precio unitario', readonly='')
                .col-md-3
                  label(for='unidadEditar') Unidad:
                  input#unidadEditar.form-control(type='text', name='unidadEditar', placeholder='Unidad', readonly='')
                .col-md-3
                  label(for='totalPzEditar') Total Pz
                  input#totalPzEditar.form-control(readonly='', type='text', name='totalPzEditar')
                .col-md-3
                  label(for='totalKgEditar') Total Kg
                  input#totalKgEditar.form-control(readonly='', type='text', name='totalKgEditar')
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
            button#btnActualizarProducto.btn.btn-primary(type='button') Guardar
    #modalConfirmarEliminarProducto.modal.fade(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Confirmar eliminación
          .modal-body
            p ¿Realmente desea eliminar este producto?
          .modal-footer
            button#btnCancelar.btn.btn-default(type='button', data-dismiss='modal') Cancelar
            button#btnConfirmar.btn.btn-primary(type='button', data-dismiss='modal') Confirmar
        // /.modal-content
      // /.modal-dialog
    // /.modal
    // jQuery
    script(src='js/jquery-3.2.1.min.js')
    // <script>window.$ = window.jQuery = require('./js/jquery-3.2.1.min.js')</script>
    script(src='vendor/bootstrap/js/bootstrap.min.js')
    script(src='dist/js/bootstrap-select.js')
    // Bootstrap Core JavaScript
    // <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    // Metis Menu Plugin JavaScript
    script(src='vendor/metisMenu/metisMenu.min.js')
    // Morris Charts JavaScript
    //
      <script src="vendor/raphael/raphael.min.js"></script>
      <script src="vendor/morrisjs/morris.min.js"></script>
      <script src="data/morris-data.js"></script>
    script(src='vendor/datatables/js/jquery.dataTables.min.js')
    script(src='vendor/datatables-plugins/dataTables.bootstrap.min.js')
    script(src='vendor/datatables-responsive/dataTables.responsive.js')
    script(src='js/dataTables.buttons.min.js')
    // Custom Theme JavaScript
    script(src='dist/js/sb-admin-2.js')
    script(type='text/javascript', src='js/bootstrap-datepicker.min.js')
    script(type='text/javascript', src='js/bootstrap-datepicker.es.min.js')
    script(src='js/bootstrap-tooltip.js')
    script(src='js/jquery.toaster.js')
    script(src='js/bootstrap-select.min.js')
    script(src='https://www.gstatic.com/firebasejs/4.1.3/firebase.js')
    script(src='js/jspdf.debug.js')
    script.
      // Initialize Firebase
      var config = {
      apiKey: "AIzaSyA19j6-VLNcXLJfBkfd_lZfFFbzg6z0Imc",
      authDomain: "xico-netcontrol.firebaseapp.com",
      databaseURL: "https://xico-netcontrol.firebaseio.com",
      projectId: "xico-netcontrol",
      storageBucket: "xico-netcontrol.appspot.com",
      messagingSenderId: "248615705793"
      };
      firebase.initializeApp(config);
    // <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/$VERSION/dragula.min.js'></script>
    script(src='js/moment-with-locales.js')
    script(src='js/jspdf.min.js')
    script(src='js/jspdf.plugin.autotable.js')
    script(src='js/orden.js')
